
body{
  color: #40514E;
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
  font-size: 50px;
  margin-top:0;
  font-family: 'Sacramento',cursive;
  color: #66BFBF;

}

h2{
  font-family: 'Montserrat',sans-serif;
  font-size: 25px;
  color: #66BFBF;
  font-weight: normal;
}
h3{
  color: #66BFBF;
}
a{
  color: #11999E;
  text-decoration: none;
  font-family: 'Merriweather', serif;
}
a:hover{
  color: #EAF6F6;
}
p{
  font-family: 'Montserrat',sans-serif;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  margin: 85px auto;
  width: 8%;
}
.intro{
  width: 40%;
  margin: auto;
}
.skill-row{
  width: 50%;
  text-align: left;
  margin:100px auto 100px auto;
  line-height: 2;
}
.image{
  width: 20%;
  margin: 50px auto 50px auto;
}
.C{
  width: 20%;
  float: left;
  margin-bottom: 20px;
}
.python{

  margin-right: 30px;
  width: 20%;
  float: left;
  margin-bottom: 20px;
}
.Web{
  width: 20%;
  float: right;
  margin-left: 60px;

}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #119998);
  background-image: -moz-linear-gradient(top, #11cdd4, #119998);
  background-image: -ms-linear-gradient(top, #11cdd4, #119998);
  background-image: -o-linear-gradient(top, #11cdd4, #119998);
  background-image: linear-gradient(to bottom, #11cdd4, #119998);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Merriweather', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}



.Bottom-cloud{
  position: absolute;
  left:350px;
  top: 300px
}
.Top-cloud{
  position: absolute;
  right:350px;
  top: 50px;
}
.Topcontainer{
  background-color: #CCF3EE;
  position: relative;
  padding-top: 100px;
}
.middle-container{
  margin: 50px 0 100px 0;
}

.bottom-container{
  background-color:#66BFBF;
  padding: 50px 0 20px 0;

}
.copyright{
  color:#EAF6F6;

  padding: 20px 0;
}
